@page "/cms/partner"
@using PEESFPIV.Frontend.Components.Layout;
@using PEESFPIV.Frontend.Components.Pages.CMS.Partners.Components;
@using PEESFPIV.Frontend.Databases.Repositories.Interfaces
@using PEESFPIV.Frontend.Models;

@inject IPartnerRepository _partnerRepository;

@layout CMSLayout
<PageTitle>Quản lý Partner</PageTitle>

<div>
    <p class="fs-1 fw-semibold">Quản lý Partner</p>
    <div class="mb-3">
        <Button Color="ButtonColor.Success" @onclick="OnShowModalCreateClick" class="me-2">
            <Icon Name="IconName.PlusLg" /> Thêm Partner
        </Button>
    </div>
    <Grid @ref="grid" TItem="Partner" Class="table table-hover table-bordered table-striped rounded"
        DataProvider="PartnerDataProvider" FiltersTranslationProvider="GridFiltersTranslationProvider"
        AllowFiltering="true" AllowPaging="true" PageSizeSelectorVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })" PaginationItemsTextFormat="{0} - {1} trong tổng {2} bản ghi"
        ItemsPerPageText="bản ghi trên trang" AllowSorting="true" AllowSelection="true"
        SelectionMode="GridSelectionMode.Multiple" SelectedItemsChanged="OnSelectedItemsChanged"
        OnRowDoubleClick="OnRowDbClick" AllowRowClick="true" EmptyText="Không có bản ghi nào" Responsive="true">
             <GridColumn TItem="Partner" HeaderText="STT" PropertyName="Order"
              TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center" Filterable="false" Sortable="false">
            @context.Order
        </GridColumn>
        <GridColumn TItem="Partner" HeaderText="Tên (Tiếng việt)" PropertyName="VnName" SortString="VnName"
            SortKeySelector="item => item.VnName" TextAlignment="Alignment.Start">
            @context.VnName
        </GridColumn>
        <GridColumn TItem="Partner" HeaderText="Tên (English)" PropertyName="EnName" SortString="EnEnNameTitle"
            SortKeySelector="item => item.EnName" TextAlignment="Alignment.Start">
            @context.EnName
        </GridColumn>
        <GridColumn TItem="Partner" HeaderText="Ảnh" PropertyName="Image"
             TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center" Filterable="false" Sortable="false">
             <Image Src="@GetAvatar(context.Image)"  IsThumbnail="true" style="width:100px;height:50px;" class="object-fit-fill rounded boder"  Alt="Image"/> 
        </GridColumn>
        <GridColumn TItem="Partner" HeaderText="Cập nhật lần cuối" PropertyName="UpdatedAt" SortString="UpdatedAt"
            SortKeySelector="item => item.UpdatedAt">
            @(context.UpdatedAt.ToString("dd/MM/yyyy HH:mm"))
        </GridColumn>
    </Grid>
</div>
<ConfirmDialog @ref="dialog" />
<Modal @ref="modal"title="@addNUpdateModalTitle" IsVerticallyCentered="true" OnHidden="OnCreateModalHide" Size="ModalSize.Large">
    <BodyTemplate>
        <PartnerForm ParentModal="modal" Partner="updatePartner" />
    </BodyTemplate>
</Modal>

@code {
    private string addNUpdateModalTitle = "Tạo mới Partner";
    private ConfirmDialog dialog = default!;
    Grid<Partner> grid = default!;
    private Modal modal = default!;
    private HashSet<Partner> selectedPartners = new();
    private Partner? updatePartner { get; set; } = null;
    private async Task OnShowModalCreateClick()
    {
        addNUpdateModalTitle = "Tạo mới Partner";
        updatePartner = null;
        await modal.ShowAsync();
    }
    private string GetAvatar(string? avatarPath)
    {
        if (avatarPath is null) return "/images/blank-image.jpg";
        else return "\\" + avatarPath;
    }
    private async Task OnShowModalUpdateClick()
    {
        addNUpdateModalTitle = "Cập nhật thông tin Partner";
        updatePartner = selectedPartners.FirstOrDefault();
        await modal.ShowAsync();
    }
    private async Task OnCreateModalHide()
    {
        await grid.RefreshDataAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }

    private Task OnSelectedItemsChanged(HashSet<Partner> partners)
    {
        selectedPartners = partners is not null && partners.Any() ? partners : new();

        return Task.CompletedTask;
    }
    private async Task OnRowDbClick(GridRowEventArgs<Partner> args)
    {
        addNUpdateModalTitle = "Cập nhật thông tin Partner";
        updatePartner = args.Item;
        await modal.ShowAsync();

    }
    private async Task<IEnumerable<FilterOperatorInfo>> GridFiltersTranslationProvider()
    {
        var filtersTranslation = new List<FilterOperatorInfo>();

        // number/date/boolean
        filtersTranslation.Add(new("=", "Bằng", FilterOperator.Equals));
        filtersTranslation.Add(new("!=", "Khác", FilterOperator.NotEquals));
        // number/date
        filtersTranslation.Add(new("<", "Nhỏ hơn", FilterOperator.LessThan));
        filtersTranslation.Add(new("<=", "Nhỏ hơn hoặc bằng", FilterOperator.LessThanOrEquals));
        filtersTranslation.Add(new(">", "Lớn hơn", FilterOperator.GreaterThan));
        filtersTranslation.Add(new(">=", "Lớn hơn hoặc bằng", FilterOperator.GreaterThanOrEquals));
        // string
        filtersTranslation.Add(new("*a*", "Chứa từ", FilterOperator.Contains));
        filtersTranslation.Add(new("!*a*", "Không chứa từ", FilterOperator.DoesNotContain));
        filtersTranslation.Add(new("a**", "Bắt đầu bằng", FilterOperator.StartsWith));
        filtersTranslation.Add(new("**a", "Kết thúc bằng", FilterOperator.EndsWith));
        filtersTranslation.Add(new("=", "Bằng", FilterOperator.Equals));
        // common
        filtersTranslation.Add(new("x", "Xoá lọc", FilterOperator.Clear));

        return await Task.FromResult(filtersTranslation);
    }
    private async Task<GridDataProviderResult<Partner>> PartnerDataProvider(GridDataProviderRequest<Partner> request)
    {
        string sortString = "";
        SortDirection sortDirection = SortDirection.None;

        if (request.Sorting is not null && request.Sorting.Any())
        {
            // Note: Multi column sorting is not supported at this moment
            sortString = request.Sorting.FirstOrDefault()!.SortString;
            sortDirection = request.Sorting.FirstOrDefault()!.SortDirection;
        }
        var result = await _partnerRepository.GetPagedList(request.PageNumber, request.PageSize, sortString,
        sortDirection.ToString());
        return await Task.FromResult(new GridDataProviderResult<Partner> { Data = result.Values, TotalCount = result.Total });
    }
}
